@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    background-image: url("../img/violeta.jpg");
    font-family: 'Roboto', sans-serif;
}

.atualiza{
    position: absolute;
    background-color: transparent;
    max-width: 400px;
    width: 100%;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 2px solid #8a2be2;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5px); /* Safari 9+ */
    backdrop-filter: blur(5px); /* Chrome and Opera */  
}

.atualiza h1{
    color:rgb(212, 200, 200);
    text-transform: uppercase;
    font-weight: 500;
    
}

.atualiza input[type = "text"],.atualiza input[type = "email"],.atualiza input[type = "number"], .atualiza input[type = "password"]{
    border: 0;
    background: lightgrey;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 14px 10px;
    max-width: 250px;
    width: 100%;
    outline: none;
    color: rgb(14, 21, 22);
    border-radius: 24px;
    transition: 0.25s;
}

.atualiza input[type = "text"]:focus,.atualiza input[type = "email"]:focus,.atualiza input[type = "number"]:focus, .atualiza input[type = "password"]:focus{
    max-width: 300px;
    width: 100%;
    border: 2px solid purple;
}

.atualiza button{
    border: 0;
    background: purple;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid purple;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}

.atualiza button:hover{
    background: transparent;
}

.main-btn {
    display: block;
    background-color: #8A2BE2;
    color: #FFF;
    text-transform: uppercase;
    width: 110px;
    height: 23px;
    padding: 10px 20px;
    border-radius: 24px;
    border: 2px solid #8A2BE2;
    outline: none;
    transition: .5s;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    text-decoration: transparent;
    font-size: 15px;
}

.main-btn:focus{
    outline: none;
}

.main-btn:hover {
    text-decoration: none;
    background-color: transparent;
}