@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #1f2e59;
}

.adiciona{
    position: absolute;
    background-color: rgb(73, 85, 126);
    max-width: 400px;
    width: 100%;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-color: lightgray;
    border-style:dashed;
}

.adiciona h1{
    color:rgb(19, 18, 18);
    text-transform: uppercase;
    font-weight: 500;
    
}

.adiciona input[type = "text"],.adiciona input[type = "email"],.adiciona input[type = "number"], .adiciona input[type = "password"]{
    border: 0;
    background: lightgrey;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 14px 10px;
    max-width: 250px;
    width: 100%;
    outline: none;
    color: rgb(14, 21, 22);
    border-radius: 24px;
    transition: 0.25s;
}

.adiciona input[type = "text"]:focus,.adiciona input[type = "email"]:focus,.adiciona input[type = "number"]:focus, .caixa input[type = "password"]:focus{
    max-width: 300px;
    width: 100%;
    border: 2px solid purple;
}

.adiciona button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid purple;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.adiciona button:hover{
    background: purple;
}