@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    background-image: url("../img/violeta.jpg");
    font-family: 'Roboto', sans-serif;
}

.deleta{
    position: absolute;
    background-color: transparent;
    max-width: 520px;
    width: 100%;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 2px solid #8a2be2;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5px); /* Safari 9+ */
    backdrop-filter: blur(5px); /* Chrome and Opera */  
}

.deleta h1{
    color:rgb(212, 200, 200);
    font-weight: 500;
    font-size: 35pt;
    text-align: center;
    margin-top: 0px;
    
}

.deleta h2{
    color: rgb(185, 178, 178);
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    margin-bottom: 60px;
    text-align: center;
}

.deleta button#btns{
    background: rgb(72, 205, 217);
    display: block;
    position: absolute;
    top: 70%;
    left: 37%;
    text-align: center;
    border: 2px solid rgb(72, 205, 217);
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
}

.deleta button#btns:hover{
    background: transparent;
}

.deleta button#btnn{
    background: rgb(205, 50, 50);
    display: block;
    position: absolute;
    top: 85%;
    left: 37%;
    text-align: center;
    border: 2px solid rgb(205, 50, 50);
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
}

.deleta button#btnn:hover{
    background: transparent;
}

