@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #1f2e59;
}
h1{
    text-align: center;
}

a{
    position: absolute;
    color: whitesmoke;
    left: 50%;
}
p{
    padding-top: 50px;
}