@charset "UTF-8";

body{
    padding: 0%;
    margin: 0%;
    background-image: url("../img/violeta.jpg");
    font-family: 'Roboto', sans-serif;  
}

h3{
    color: rgb(212, 200, 200);
    font-size: 28pt;
    text-align: center;
    margin-bottom: 20px;
}

.main-btn {
    display: block;
    background-color: #8A2BE2;
    color: #FFF;
    text-transform: uppercase;
    width: 80px;
    height: 23px;
    padding: 10px 10px;
    border-radius: 24px;
    border: 2px solid #8A2BE2;
    outline: none;
    transition: .5s;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    text-decoration: transparent;
    text-align: center;
}

.main-btn:focus{
    outline: none;
}

.main-btn:hover {
    text-decoration: none;
    background-color: transparent;
}

table{
	border: 1px solid #606060;
	border-spacing: 0px;
    margin: auto;
}

table th{
    border: 1px solid #606060;
	padding: 10px;
	color: black;
	text-align: center;
	vertical-align: top;
    font-weight: bold;
    background-color: rgb(0, 255, 242);
}

table td{
	border: 1px solid #606060;
	padding: 10px;
	color: black;
	text-align: center;
	vertical-align: top;
    font-weight: bold;
    background: lightgrey;
}