@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #1f2e59;
}

.caixa{
    position: absolute;
    background-color: rgb(73, 85, 126);
    max-width: 400px;
    width: 100%;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-color: lightgray;
    border-style:dashed;
}

.caixa h1{
    color:rgb(19, 18, 18);
    text-transform: uppercase;
    font-weight: 500;
    
}

.caixa input[type = "text"], .caixa input[type = "password"]{
    border: 0;
    background: lightgrey;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 14px 10px;
    max-width: 200px;
    width: 100%;
    outline: none;
    color: rgb(14, 21, 22);
    border-radius: 24px;
    transition: 0.25s;
}

.caixa input[type = "text"]:focus, .caixa input[type = "password"]:focus{
    max-width: 280px;
    width: 100%;
    border: 2px solid purple;
}

.caixa button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid purple;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.caixa button[type = "submit"]:hover{
    background: purple;
}

li{
    position: absolute;
    display: block;
    background-color: rgba(186, 90, 90, 0.569);
    color: rgb(164, 0, 0);
    left: 35%;
    top: 500px;
    padding: 5px 5px 5px 5px;
}